* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #f4fbff;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid navy;
}

.heading {
  font-size: 24px;
  line-height: 36px;
  color: #050505;
  font-weight: initial;
  margin-left: 70px;
}

.underline {
  border: 1px solid navy;
  width: 16%;
  margin-top: 10px;
}

.nav-link {
  display: flex;
  width: auto;
  justify-content: space-around;
  margin: auto 70px;
}

.blog,
.about {
  font-size: 24px;
  padding: 6px;
  color: #050505;
}

/* .btn-menu {
  display: none;
}

.btn-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 999px;
} */

.hero {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

.my-profile {
  margin: 70px;
  grid-column: 1 / span 3;
}

.name {
  font-size: 24px;
  line-height: 36px;
  font-weight: inherit;
}

#my-title {
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 48px;
  color: navy;
  margin: 0;
}

.title .my-bio {
  margin-bottom: 50px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.contact {
  display: flex;
  padding: 10px;
  margin-top: 40px;
  background-color: navy;
  width: 200px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.contact a {
  font-size: 18px;
  color: white;
}

.image {
  grid-column: 4 / span 2;
}

#image {
  width: 100%;
}

/* journey */
.journey {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#j-title {
  padding-bottom: 20px;
  border-bottom: 2px solid navy;
}

/* .underline2 {
  border: 1px solid navy;
  width: 100%;
  opacity: 0.6;
} */

.history {
  display: grid;
  padding: 30px;
  padding-bottom: 0;
  height: 300px;
  grid-template-columns: repeat(5, 1fr);
}

.img-agency {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_agency {
  width: 200px;
  height: 150px;
}

.part-story {
  display: grid;
  grid-column: span 4 / span 4;
}

.story .story-title {
  text-align: left;
  font-size: 2em;
  line-height: 48px;
  font-weight: bold;
}

.agency-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
}

.story .agency-bio {
  width: 80%;
  margin-bottom: 10px;
}

.story .part-since {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  color: orange;
}

/* work */
.part-work {
  padding-top: 20px;
}
.work-title {
  display: grid;
  justify-content: center;
  align-items: center;
}

#sub-title {
  padding: 20px;
  border-bottom: 2px solid navy;
}

/* .underline3 {
  border: 1px solid navy;
  width: 100%;
  opacity: 0.6;
  margin-top: 10px;
} */

.my-work {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-inline: 7%;
  margin-top: 30px;
  background-image: radial-gradient(
    100% 42.06% at 49.96% 50.94%,
    #00c0fd 0%,
    rgba(194, 200, 255, 0) 100%
  );
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.sub-work {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  padding-inline: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.sub-work:hover {
  background: linear-gradient(to top, rgb(252, 113, 0), rgb(255, 191, 16));
}

.work-img {
  width: 100%;
  height: 237px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: transparent;
}

.head-work {
  font-size: 20px;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 18px;
  color: black;
}

.nav-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-link {
  background: linear-gradient(90.55deg, #256bf4 -13.39%, #3ac1de 99.74%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  position: relative;
  left: -114px;
}

.git-icon {
  display: inline-flex;
  margin: 0.5rem;
}

.detail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #3ac1de;
  height: 40px;
  width: 25%;
}

/* personal */
.part-personal {
  padding-inline: 8rem;
  padding-top: 50px;
  padding-bottom: 50px;
}
.my-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head-title {
  padding: 20px;
  border-bottom: 2px solid navy;
}

/* .underline4 {
  border: 1px solid navy;
  width: 100%;
  opacity: 0.6;
  margin-top: 10px;
} */

.my-personal {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 35px;
  padding-top: 35px;
}

.my-sosmed {
  background: rgba(165, 202, 255, 0.2);
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.link-sosmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-title {
  display: flex;
  align-items: center;
  background-color: #b3f1ff;
  padding-inline: 0.75rem;
  border-radius: 9999px;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 100%;
}

.p-title {
  color: #086f83;
  font-size: 12px;
  line-height: 18px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.sosmed-title {
  font-size: 24px;
  line-height: 36px;
  margin-top: 24px;
}

.follow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 25px;
  margin-top: 25px;
  color: white;
  background: linear-gradient(90.55deg, #256bf4 -13.39%, #3ac1de 99.74%);
  font-size: 16px;
  font-weight: 600;
}

/* footer */
.footer {
  padding-inline: 8rem;
  padding-top: 40px;
  padding-bottom: 50px;
}

.top-line {
  border: 1px solid navy;
  width: 100%;
  margin-bottom: 30px;
}

.my-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#name-signed {
  color: black;
  font-size: 24px;
}

.copyright {
  margin-top: 10px;
}

.icon-stack {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.group-stack {
  display: inline-flex;
  gap: 1rem;
}

.icon-email {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #a5caff;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  color: inherit;
}

.icon-linkedin {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #a5caff;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  color: inherit;
}

.icon-github {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #a5caff;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  color: inherit;
}

/* responsive */

/* Laptop */
@media screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
    height: auto;
    background-color: #f4fbff;
  }
  .navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
    width: auto;
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-right: 40px;
  }

  .blog,
  .about {
    font-size: 26px;
    padding: 6px;
  }

  .heading {
    font-size: 26px;
    font-weight: 500;
    margin-left: 40px;
  }
  .hero {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .image {
    grid-column: 4 / span 2;
  }

  #image {
    width: 100%;
  }

  .name {
    font-size: 30px;
  }

  .title .my-bio {
    margin-bottom: 50px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  .my-profile {
    grid-column: 1 / span 3;
    margin: auto;
    padding-inline-start: 40px;
    padding-top: 30px;
  }

  .underline {
    border: 1px solid navy;
    width: 20%;
    margin-top: 5px;
  }
  #my-title {
    padding-top: 16px;
    padding-bottom: 24px;
    font-size: 40px;
    color: navy;
    margin: 0;
  }

  .contact a {
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    font-weight: 500;
  }

  /* journey */
  .part-journey {
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .journey {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #j-title {
    padding-bottom: 20px;
    border-bottom: 2px solid navy;
    font-size: 40px;
  }

  .history {
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }

  .img-agency {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
  }

  .hero_agency {
    width: 200px;
    height: 150px;
  }

  .part-story {
    display: grid;
    grid-column: 2;
    padding: 10px;
    padding-top: 0;
  }

  .story .story-title {
    text-align: left;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
  }

  .agency-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .story .agency-bio {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .story .part-since {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
    color: orange;
  }

  .story .my-info {
    font-size: 20px;
  }

  /* work */
  .part-work {
    padding-top: 20px;
  }
  .work-title {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #sub-title {
    padding: 20px;
    border-bottom: 2px solid navy;
    font-size: 40px;
  }

  .my-work {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-inline: 30px;
    margin-top: 30px;
    background-image: radial-gradient(
      100% 42.06% at 49.96% 50.94%,
      #00c0fd 0%,
      rgba(194, 200, 255, 0) 100%
    );
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  .sub-work {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding-inline: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .sub-work:hover {
    background: linear-gradient(to top, rgb(252, 113, 0), rgb(255, 191, 16));
  }

  .work-img {
    width: 100%;
    height: 237px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: transparent;
  }

  .head-work {
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 18px;
    color: black;
    letter-spacing: 1px;
  }

  .nav-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .repo-link {
    background: linear-gradient(90.55deg, #256bf4 -13.39%, #3ac1de 99.74%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 45%;
    border-radius: 25px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: white;
    left: -50px;
    letter-spacing: 0.5px;
  }

  .git-icon {
    display: inline-flex;
    margin: 0.5rem;
  }

  .detail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #3ac1de;
    height: 40px;
    width: 30%;
  }

  /* personal */
  .part-personal {
    padding-inline: 2rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .head-person {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #head-title {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid navy;
  }

  .my-personal {
    padding-inline: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .my-sosmed {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
  }

  .detail-sosmed {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 100%;
    padding: 16px;
  }

  .link-sosmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-sosmed .img-sosmed {
    width: 75px;
    height: 75px;
  }

  .right-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3f1ff;
    padding-inline: 0.75rem;
    border-radius: 9999px;
    min-width: 8rem;
    min-height: 2.5rem;
  }

  .p-title {
    color: #086f83;
    font-size: 16px;
    line-height: 18px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    letter-spacing: 1px;
  }

  .follow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 25px;
    margin-top: 25px;
    color: white;
    background: linear-gradient(90.55deg, #256bf4 -13.39%, #3ac1de 99.74%);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  /* footer */
  .footer {
    padding-inline: 2rem;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .top-line {
    border: 0.5px solid navy;
    width: 100%;
    margin-bottom: 30px;
  }

  .my-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #name-signed {
    color: black;
    font-size: 28px;
    text-align: center;
  }

  .copyright {
    margin-top: 10px;
    font-size: 22px;
  }

  .stack-heading {
    font-size: 32px;
  }

  .icon-stack {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding-top: 10px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    height: auto;
    background-color: #f4fbff;
  }
  .navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
    width: auto;
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-right: 40px;
  }

  .blog,
  .about {
    font-size: 20px;
    padding: 6px;
  }

  .heading {
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
  }
  .hero {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  #image {
    width: 100%;
  }
  .my-profile {
    margin: auto;
    padding-inline: 2rem;
    padding-top: 10px;
  }

  .underline {
    border: 1px solid navy;
    width: 30%;
    margin-top: 5px;
  }
  #my-title {
    padding-top: 16px;
    padding-bottom: 24px;
    font-size: 26px;
    color: navy;
    margin: 0;
  }

  /* journey */
  .part-journey {
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .journey {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #j-title {
    padding-bottom: 20px;
    border-bottom: 2px solid navy;
  }

  .history {
    display: grid;
    padding: 25px;
    padding-bottom: 0;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }

  .img-agency {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
  }

  .hero_agency {
    width: 200px;
    height: 150px;
  }

  .part-story {
    display: grid;
    grid-column: 2;
    padding: 10px;
    padding-top: 0;
  }

  .story .story-title {
    text-align: left;
    font-size: 26px;
    line-height: 48px;
    font-weight: bold;
  }

  .agency-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .story .agency-bio {
    font-size: 0.85rem;
    margin-bottom: 10px;
  }

  .story .part-since {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: orange;
  }

  /* work */
  .part-work {
    padding-top: 20px;
  }
  .work-title {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #sub-title {
    padding: 20px;
    border-bottom: 2px solid navy;
  }

  .my-work {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-inline: 7%;
    margin-top: 30px;
    background-image: radial-gradient(
      100% 42.06% at 49.96% 50.94%,
      #00c0fd 0%,
      rgba(194, 200, 255, 0) 100%
    );
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  .sub-work {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding-inline: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .sub-work:hover {
    background: linear-gradient(to top, rgb(252, 113, 0), rgb(255, 191, 16));
  }

  .work-img {
    width: 100%;
    height: 237px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: transparent;
  }

  .head-work {
    font-size: 20px;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
    color: black;
  }

  .nav-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .repo-link {
    background: linear-gradient(90.55deg, #256bf4 -13.39%, #3ac1de 99.74%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 45%;
    border-radius: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: white;
    left: -40px;
  }

  .git-icon {
    display: inline-flex;
    margin: 0.5rem;
  }

  .detail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #3ac1de;
    height: 40px;
    width: 30%;
  }

  /* personal */
  .part-personal {
    padding-inline: 2rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .head-person {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #head-title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid navy;
  }

  .my-personal {
    width: 100%;
    padding-inline: 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .my-sosmed {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 323px;
    padding-bottom: 4px;
  }

  .detail-sosmed {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 100%;
    padding: 16px;
  }

  .link-sosmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-sosmed .img-sosmed {
    width: 75px;
    height: 75px;
  }

  .right-title {
    display: flex;
    align-items: center;
    background-color: #b3f1ff;
    padding-inline: 0.75rem;
    border-radius: 9999px;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 100%;
  }

  .p-title {
    color: #086f83;
    font-size: 12px;
    line-height: 18px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  /* footer */
  .footer {
    padding-inline: 2rem;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .top-line {
    border: 0.5px solid navy;
    width: 100%;
    margin-bottom: 30px;
  }

  .my-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #name-signed {
    color: black;
    font-size: 22px;
    text-align: center;
  }

  .copyright {
    margin-top: 10px;
    text-align: center;
  }

  .stack {
    margin-top: 15px;
  }

  .icon-stack {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding-top: 10px;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  .main-container {
    width: 100%;
    height: auto;
    background-color: #f4fbff;
  }
  .navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
    width: auto;
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-right: 20px;
  }

  .blog,
  .about {
    font-size: 18px;
    padding: 6px;
  }

  .heading {
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }
  .hero {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .image {
    grid-column: 1;
  }
  #image {
    width: 100%;
  }
  .my-profile {
    grid-row: 2;
    margin: auto;
    padding-inline: 2rem;
    padding-top: 10px;
  }

  .underline {
    border: 1px solid navy;
    width: 30%;
    margin-top: 5px;
  }
  #my-title {
    padding-top: 16px;
    padding-bottom: 24px;
    font-size: 26px;
    color: navy;
    margin: 0;
  }

  /* journey */
  .part-journey {
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .journey {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #j-title {
    padding-bottom: 20px;
    border-bottom: 2px solid navy;
  }

  .history {
    display: grid;
    padding: 25px;
    padding-bottom: 0;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }

  .img-agency {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .part-story {
    grid-column: auto;
    display: grid;
    padding-top: 15px;
  }

  .hero_agency {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
  }

  .story .story-title {
    text-align: left;
    font-size: 26px;
    line-height: 48px;
    font-weight: bold;
  }

  .agency-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .story .agency-bio {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .story .part-since {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: orange;
  }

  .story .my-info {
    font-size: 16px;
  }

  /* work */
  .part-work {
    padding-top: 20px;
  }
  .work-title {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #sub-title {
    padding: 20px;
    border-bottom: 2px solid navy;
  }

  .my-work {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-inline: 7%;
    margin-top: 30px;
    background-image: radial-gradient(
      100% 42.06% at 49.96% 50.94%,
      #00c0fd 0%,
      rgba(194, 200, 255, 0) 100%
    );
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  .sub-work {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding-inline: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .sub-work:hover {
    background: linear-gradient(to top, rgb(252, 113, 0), rgb(255, 191, 16));
  }

  .work-img {
    width: 100%;
    height: 237px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: transparent;
  }

  .head-work {
    font-size: 20px;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
    color: black;
  }

  .nav-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .repo-link {
    background: linear-gradient(90.55deg, #256bf4 -13.39%, #3ac1de 99.74%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 45%;
    border-radius: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: white;
    left: -40px;
  }

  .git-icon {
    display: inline-flex;
    margin: 0.5rem;
  }

  .detail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #3ac1de;
    height: 40px;
    width: 30%;
  }

  /* personal */
  .part-personal {
    padding-inline: 2rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .head-person {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #head-title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid navy;
  }

  .my-personal {
    width: 100%;
    padding-inline: 3px;
    display: flex;
    flex-direction: column;
  }

  .my-sosmed {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 323px;
    padding-bottom: 4px;
  }

  .detail-sosmed {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 100%;
    padding: 16px;
  }

  .link-sosmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-sosmed .img-sosmed {
    width: 75px;
    height: 75px;
  }

  .right-title {
    display: flex;
    align-items: center;
    background-color: #b3f1ff;
    padding-inline: 0.75rem;
    border-radius: 9999px;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 100%;
  }

  .p-title {
    color: #086f83;
    font-size: 12px;
    line-height: 18px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  /* footer */
  .footer {
    padding-inline: 2rem;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .top-line {
    border: 0.5px solid navy;
    width: 100%;
    margin-bottom: 30px;
  }

  .my-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #name-signed {
    color: black;
    font-size: 22px;
    text-align: center;
  }

  .copyright {
    margin-top: 10px;
    text-align: center;
  }

  .stack {
    margin-top: 15px;
  }

  .icon-stack {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding-top: 10px;
  }
}
